<%= form_for micropost do |form| %>
  <%= render "shared/error_messages", object: form.object %>
  <div class="field">
    <%= form.text_area :content, placeholder: t("compose_new_micropost") %>
  </div>
  <%= form.submit t("post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= form.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>
